/* GLOBAL */

*{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.8;
	color: #000;
}


/* HEADER */

.container-header{
	background-color:  rgba(255, 255, 255, 0.7);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
}

.logo-header{
	height:70%;
}

.header-nav{
	width: 100%;
	margin: 0 auto;
}

ul.header-nav{
	padding-left: 0;
	text-align: center;
	
}

.header-nav li{
	display: inline;
	list-style: none;
	margin: 0 30px;
}

.header-nav ul li{
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
}

.header-nav li a {
	color: #333;
	display: inline-block;
	font-size: 16px;
	padding: 0px 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.header-icon li{
	display: inline;
	list-style: none;
	margin: 0 10px;
}

.header-icon ul li{
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	margin: 0px 15px;
}

.header-icon li a{
	text-decoration: none;
	color: #333;
	list-style: none;
	font-size: 15px;
}

ul.header-icon{
	padding-left: 0;
}
	
/* HOME */

.container-fluid{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* vidéo */

.video-home{
	position: relative;
    top: 200px;
    left: 50%;
    min-width: 100%;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* rubriques */

.rubriques{
	position: relative;
	top:-170px;
	width: 100%;
}

.men, .accessories, .women{
	height: 398px;

}

.men{
	background-image:url(../../public/images/men.jpg);
	background-size: cover;
	width: 33.33%;
	position: relative;
}

.men a{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.accessories{
	background-image:url(../../public/images/accessories.jpg);
	background-size: cover;
	width: 33.33%;
	position: relative;
}

.accessories a{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.women{
	background-image:url(../../public/images/women.jpg);
	background-size: cover;
	width: 33.33%;
	position: relative;
}

.women a{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* présentation */

.presentation img{
	height: auto;
	width: 100%;
	position: relative;
	top: -170px;
}

/* What's new */

.news{
	font-weight: bold;
	height: auto;
	width: 100%;
	position: relative;
	top: -150px;
	background-color: #fff;
	padding: 0 20px 0;
}

.news div{
	padding-top: 70px;
	width: 25%;
}

.news div img{
	width: auto;
	height: 200px;
	
}

/* FOOTER */

footer {
	width: 85%;
	padding: 40px 0 20px!important;
	margin-top: 0;
	font-size: 18px;
	background-color: #333;
	color: #fff;
}
footer div {
	width: 33.33%,
}
footer div ul {
	padding-left: 0;
	list-style-type: none;
}
footer div ul li {
	display: inline-block;
	margin-top: -0.8em;
}
footer div ul li a {
	margin: 0 0.5em;
	font-size: 2em;
	color: #39633F;
}
footer div ul li a:hover {
	color:#ff383f;

}